**Zillow**

For the following, iterate through the steps you would take to create functions: Write the code to do the following in a jupyter notebook, test it, convert to functions, then create the file to house those functions.

You will have a `zillow.ipynb` file and a helper file for each section in the pipeline.

**acquire & summarize**

- Acquire data from mySQL using the python module to connect and query. 
- You will want to end with **a single dataframe**. Make sure to include: the logerror, all fields related to the properties that are available. You will end up **using all the tables in the database**.
- Be sure to do **the correct join (inner, outer, etc.)**. We do not want to eliminate properties purely because they may have a null value for airconditioningtypeid.
- Only include properties with a **transaction in 2017**, and include **only the last transaction for each properity** (so no duplicate property ID's), along with zestimate error and date of transaction.
- Only include properties that include a latitude and longitude value.

**Summarize Zillow Database**

- airconditioningtype: 13 unique values
    - primary key: airconditioningtypeid


- architecturalstyletype: 27 unique values
    - primary key: architecturalstyletypeid
    
    
- buildingclasstype: 5 unique values
    - primary key: buildingclasstypeid
    
    
- heatingorsystemtype: 25 unique values
    - primary key: heatingorsystemtypeid
    
    
- predictions_2016: all the transactions in 2016 
    - No need to be joined
    
    
- predictions_2017: 77614 records in total
    - primary key: parcelid
    - 77613 records in 2017
    - 1 record in 2018
    - unique id: 77614
    - **unique parcelid: 77414**
    
    
- properties_2016: No need to be joined


- properties_2017: main table
    - primary key: parcelid
    
    
- propertylandusetype
    - primary key: propertylandusetypeid
    
    
- storytype: 35 unique values
    - primary key: storytypeid
    

- typeconstructiontype: 18 unqiue values
    - primary key: typeconstructiontypeid
    
    
- unique_properties: 2,985,217 rows
    - primary key: parcelid

In [1]:
import warnings
warnings.filterwarnings("ignore")
import os

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

import env, acquire

In [31]:
# Acquire properties with a transaction in 2017 order first by parcelid then transactiondate

query = """
        select *
        from properties_2017
        join predictions_2017 using(parcelid)
        left join airconditioningtype using(airconditioningtypeid)
        left join architecturalstyletype using(architecturalstyletypeid)
        left join buildingclasstype using(buildingclasstypeid)
        left join heatingorsystemtype using(heatingorsystemtypeid)
        left join propertylandusetype using(propertylandusetypeid)
        left join storytype using(storytypeid)
        left join typeconstructiontype using(typeconstructiontypeid)
        where transactiondate between '2017-01-01' and '2017-12-31'
        order by parcelid, transactiondate
        """

df = acquire.get_zillow_data(query, '1')

In [32]:
df.head()

,typeconstructiontypeid,storytypeid,propertylandusetypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,parcelid,id,basementsqft,...,id.1,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,NaN,NaN,261.0,2.0,NaN,NaN,NaN,10711855,1087254,NaN,...,55006,-0.007357,2017-07-07,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN
1,NaN,NaN,261.0,2.0,NaN,NaN,1.0,10711877,1072280,NaN,...,71382,0.021066,2017-08-29,Central,NaN,NaN,Central,Single Family Residential,NaN,NaN
2,NaN,NaN,261.0,2.0,NaN,NaN,1.0,10711888,1340933,NaN,...,23209,0.077174,2017-04-04,Central,NaN,NaN,Central,Single Family Residential,NaN,NaN
3,NaN,NaN,261.0,2.0,NaN,NaN,NaN,10711910,1878109,NaN,...,18017,-0.041238,2017-03-17,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN
4,NaN,NaN,261.0,2.0,NaN,NaN,NaN,10711923,2190858,NaN,...,20378,-0.009496,2017-03-24,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77613 entries, 0 to 77612
Data columns (total 69 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   typeconstructiontypeid        223 non-null    float64
 1   storytypeid                   50 non-null     float64
 2   propertylandusetypeid         77579 non-null  float64
 3   heatingorsystemtypeid         49571 non-null  float64
 4   buildingclasstypeid           15 non-null     float64
 5   architecturalstyletypeid      207 non-null    float64
 6   airconditioningtypeid         25007 non-null  float64
 7   parcelid                      77613 non-null  int64
 8   id                            77613 non-null  int64
 9   basementsqft                  50 non-null     float64
 10  bathroomcnt                   77579 non-null  float64
 11  bedroomcnt                    77579 non-null  float64
 12  buildingqualitytypeid         49809 non-null  float64
 13  calculatedbathnbr             76963 non-null  float64
 14  decktypeid                    614 non-null    float64
 15  finishedfloor1squarefeet      6037 non-null   float64
 16  calculatedfinishedsquarefeet  77378 non-null  float64
 17  finishedsquarefeet12          73923 non-null  float64
 18  finishedsquarefeet13          42 non-null     float64
 19  finishedsquarefeet15          3027 non-null   float64
 20  finishedsquarefeet50          6037 non-null   float64
 21  finishedsquarefeet6           386 non-null    float64
 22  fips                          77579 non-null  float64
 23  fireplacecnt                  8289 non-null   float64
 24  fullbathcnt                   76963 non-null  float64
 25  garagecarcnt                  25520 non-null  float64
 26  garagetotalsqft               25520 non-null  float64
 27  hashottuborspa                1539 non-null   float64
 28  latitude                      77579 non-null  float64
 29  longitude                     77579 non-null  float64
 30  lotsizesquarefeet             69321 non-null  float64
 31  poolcnt                       16174 non-null  float64
 32  poolsizesum                   869 non-null    float64
 33  pooltypeid10                  465 non-null    float64
 34  pooltypeid2                   1074 non-null   float64
 35  pooltypeid7                   15079 non-null  float64
 36  propertycountylandusecode     77579 non-null  object
 37  propertyzoningdesc            50476 non-null  object
 38  rawcensustractandblock        77579 non-null  float64
 39  regionidcity                  76107 non-null  float64
 40  regionidcounty                77579 non-null  float64
 41  regionidneighborhood          30974 non-null  float64
 42  regionidzip                   77529 non-null  float64
 43  roomcnt                       77579 non-null  float64
 44  threequarterbathnbr           10106 non-null  float64
 45  unitcnt                       50703 non-null  float64
 46  yardbuildingsqft17            2393 non-null   float64
 47  yardbuildingsqft26            70 non-null     float64
 48  yearbuilt                     77309 non-null  float64
 49  numberofstories               17599 non-null  float64
 50  fireplaceflag                 172 non-null    float64
 51  structuretaxvaluedollarcnt    77464 non-null  float64
 52  taxvaluedollarcnt             77578 non-null  float64
 53  assessmentyear                77579 non-null  float64
 54  landtaxvaluedollarcnt         77577 non-null  float64
 55  taxamount                     77574 non-null  float64
 56  taxdelinquencyflag            2900 non-null   object
 57  taxdelinquencyyear            2900 non-null   float64
 58  censustractandblock           77332 non-null  float64
 59  id.1                          77613 non-null  int64
 60  logerror                      77613 non-null  float64
 61  transactiondate               77613 non-null  object
 62  airconditioningdesc           25007 non-null  object
 63  architecturalstyledesc        207 non-null    object
 64  buildingclassdesc             15 non-null     object
 65  heatingorsystemdesc           49571 non-null  object
 66  propertylandusedesc           77579 non-null  object
 67  storydesc                     50 non-null     object
 68  typeconstructiondesc          223 non-null    object
dtypes: float64(55), int64(3), object(11)
memory usage: 41.4+ MB

In [34]:
# Address duplicates: show all duplicates

mask = df.duplicated(subset='parcelid', keep=False)
df_duplicated = df[mask]
df_duplicated.head()

,typeconstructiontypeid,storytypeid,propertylandusetypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,parcelid,id,basementsqft,...,id.1,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
293,NaN,NaN,261.0,2.0,NaN,NaN,NaN,10722858,16179,NaN,...,14033,0.095171,2017-03-02,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN
294,NaN,NaN,261.0,2.0,NaN,NaN,NaN,10722858,16179,NaN,...,14034,-0.172843,2017-07-28,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN
539,NaN,NaN,261.0,2.0,NaN,NaN,NaN,10732347,1836115,NaN,...,13913,0.077198,2017-03-01,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN
540,NaN,NaN,261.0,2.0,NaN,NaN,NaN,10732347,1836115,NaN,...,13914,-0.221145,2017-07-25,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN
721,NaN,NaN,261.0,2.0,NaN,NaN,1.0,10739478,2119208,NaN,...,2904,0.083280,2017-01-13,Central,NaN,NaN,Central,Single Family Residential,NaN,NaN

In [35]:
df_duplicated.shape

(395, 69)

In [40]:
# Only kee the last transaction for each properity. 

df.drop_duplicates(subset=['parcelid'], keep='last', inplace=True, ignore_index=True)
df.shape

(77414, 69)

In [41]:
# Check to see whether the property with most transatction date is kept.

df[(df.parcelid == 10722858) | (df.parcelid == 10732347)]

,typeconstructiontypeid,storytypeid,propertylandusetypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,parcelid,id,basementsqft,...,id.1,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
293,NaN,NaN,261.0,2.0,NaN,NaN,NaN,10722858,16179,NaN,...,14034,-0.172843,2017-07-28,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN
538,NaN,NaN,261.0,2.0,NaN,NaN,NaN,10732347,1836115,NaN,...,13914,-0.221145,2017-07-25,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN

In [44]:
# Check if there exsits duplicate property ID

df.duplicated(subset='parcelid').any()

False

**Takeaways: Properties with transaction in 2017

In [23]:
df.isnull().sum(axis=0)

typeconstructiontypeid    77390
storytypeid               77563
propertylandusetypeid        34
heatingorsystemtypeid     28042
buildingclasstypeid       77598
                          ...
buildingclassdesc         77598
heatingorsystemdesc       28042
propertylandusedesc          34
storydesc                 77563
typeconstructiondesc      77390
Length: 69, dtype: int64